<header class="cover">
    <div id="cover-content">
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="{{ site.url }}">
                    <img class="img-circle logo" src="{{ site.url }}/assets/img/logo-nav.jpg" alt="Blog Logo" />
                </a>
            </div>
            <div class="col-sm-7 text-center">
                <div class="page-header">
                    <h1 class="blog-title">Ano.io</h1>
                </div>
                <h2 class="blog-description text-muted">A propos de développement web - en français</h2>
            </div>
        </div>
    </div>
</header>
